<h1>DragonBall Super Page</h1>
<hr>
<section class="row">
    <div class="col-12 col-sm-6">
        <!--recibe un elemento en (newCharacter)="$event"  -->
        <dragonball-character-add
            (newCharacter)="dragonballService.addCharacter($event)"
        ></dragonball-character-add>
    </div>
    <div class="col-12 col-sm-6">
        <!--Forma de enviar datos desde un padrea a hijo [character]="character()"-->
        <dragonball-character-list listName="Listado de personajes" [character]="dragonballService.characters()"></dragonball-character-list>
    </div>
</section>